[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EDFtest"]
	path = EDFtest
	url = https://github.com/liyao-sfu/edftest
	shallow = true
	registered = true
